
body {
  background-color: rgb(245, 220, 239);
}

h1 {
  text-align: left;
  text-shadow: 2px 2px 5px rgb(255, 0, 170);
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
}

h2 {
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  color: rgb(97, 95, 95); 
  font-size: 20px;
  
}

h3 {
  text-align: left;
  color: grey;
}

p {
  text-align: left;
}

ul{
  list-style-type: circle;
}

img{
  height: 200px;
  width: auto;
  
}

body{text-align: left; padding-top: 10px}

.estrelas input[type=radio] {
  display: none;
}
.estrelas label i.fa{
  font-size: 2.5em
}
.estrelas label i.fa:before {
  content:'\f005';
  color: #FC0;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}

